<html>
  <head> 
    <link rel="stylesheet" href='/static/main.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>
    	Developed by Arindam Keswani (E18CSE027), Amit Patel (), Aachman Garg (), Tejas Parikh ()<br></br>
    	<br></br>
    	<h2>Methodology</h2><!-- <br></br> -->
    	This project deals with the cryptanalysis of ciphers and hashed values. In hashed value cryptanalysis, user enters the hashed value and specifies the choice of hashed value. The machine then implements cryptanalysis using dictionary attack with a dictionary of curated 1,430,894 common passwords and words. <br></br>
    	In the case of Caeser cipher, user enters the choice of language from the options given, and then enters the encrypted value.
    	The machine then outputs the most probable key and plaintext combination instead of printing every single combination.<br></br>
    	

    	<br></br>
    	<h2>Assumptions</h2><!-- <br></br> -->
    	1: Hashed value entered is correct and in the appropriate format<br></br>
    	2: For Caeser cipher cryptanalysis, the correct language is chosen (English, Spanish, or German)<br></br>
    	3: For SHAKE256, hexdigest parameter=100<br></br>
    	4: In Caeser cipher, string must be at least 3 characters<br></br>
    	<br></br>
    	<h2>List of cipher decryptions available</h2><!-- <br></br> -->
    	1. MD5<br></br>
    	2. SHA1<br></br>
    	3. SHA256<br></br>
    	4. SHA512<br></br>
    	5. SHAKE256<br></br>
    	6. Caeser cipher (English)<br></br>
    	7. Caeser cipher (Spanish)<br></br>
    	8. Caeser cipher (German)<br><br>
    	<br></br>

    </p>
  </body>
</html>